---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import { calculateReadingTime } from "./../utils/calculateReadingTime";
import { Icon } from "astro-icon";

const { blok } = Astro.props;
const content = renderRichText(blok.content);

console.log("content", content);

const date = new Date(blok.published_date).toLocaleDateString("en-US", {
  dateStyle: "long",
});

const timeToRead = calculateReadingTime(content);
const timeToReadAlt = `PT${timeToRead}MINUTES`;
---

<style>
  .main-title {
    text-wrap: balance;
  }
</style>
<article
  class="prose prose-zinc prose-img:rounded-xl md:prose-lg lg:prose-xl m-auto pl-4 pr-4 pt-40"
  {...storyblokEditable(blok)}
>
  <h1 class="main-title not-prose text-center text-4xl font-bold mb-4">
    {blok.title}
  </h1>
  <hr class="max-w-[20px] not-prose mx-auto my-2 border-gray" />
  <div class="flex items-center justify-center">
    <div class="flex items-center">
      <Icon class="w-6 text-gray-400" pack="hero-pack" name="clock" />
      <time
        class="text-gray-500 pl-2 font-light text-lg mr-2"
        datetime={timeToReadAlt}>{timeToRead} minutes</time
      >
    </div>

    <div class="flex items-center ml-4">
      <Icon class="w-6 text-gray-400" pack="hero-pack" name="calendar" />
      <time
        class="text-center pl-2 block text-gray-500 font-light text-lg"
        datetime={blok.published_date}>{date}</time
      >
    </div>
  </div>

  <img
    class="w-full h-[360px] lg:h-[450px] object-cover"
    alt={blok.preview_image.alt}
    src={`${blok.preview_image.filename}/m/1400x0`}
  />
  <p class="">{blok.description}</p>
  <Fragment set:html={content} />
</article>
